<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novahealth | Clínica</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div id="splash-screen">
        <div class="logo-container">
            <h1 class="logo-text">NOVAHEALTH | CLÍNICA</h1>
            <div class="underline"></div>
        </div>
    </div>

    <header class="header">
        <a href="index.html" class="logo">Novahealth</a>
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/equipo">Nuestros Médicos</a></li>
                <li class="dropdown">
                    <a href="/servicios" class="dpservicios-toggle">Servicios</a>
                    <ul class="dropdown-menu">
                        <li><a href="emergencias.html">Emergencias</a></li>
                        <li><a href="farmacia.html">Farmacia</a></li>
                        <li><a href="banco_sangre.html">Banco de sangre</a></li>
                        <li><a href="novalaser.html">Novalaser</a></li>
                        <li><a href="convenios.html">Convenios</a></li>
                    </ul>
                </li>
                <li><a href="/contacto">Contacto</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/citas">Agenda tu cita</a></li>
                <li class="dropdown">
                    <a href="#">Hola, {{ current_user.nombre }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Cerrar sesión</a></li>
                    </ul>
                </li>

                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}

            </ul>
        </nav>

    </header>

    <section class="inicio" id="inicio">
        <div>
            <h1>Apreciamos el valor <br> de tu vida</h1>
            <p>Salud y confianza en cada consulta</p>
            <a href="citas.html" class="btn-1">Agenda Cita</a>
        </div>
    </section>

    <main class="clinica">
        <div class="clinica-content container">
            <h2>¿Por qué elegir nuestros <br> Centros Médicos?</h2>
            <p class="text1">Atención integral, tecnología avanzada y un equipo comprometido con tu bienestar.</p>
            <img src="css/imagenes/simbolomed.png" alt="Símbolo médico" id="simbolo">
        </div>

        <div class="medicos-group container">
            <h2 id="h22">Nuestros Médicos</h2>
            <div class="medicos-grid">
                <div class="medico">
                    <img src="../static/imagenes/doctora1.avif" alt="Dra. Sofia Almeida">
                    <div class="info">
                        <h3>Sofia Valentina Almeida Robalino</h3>
                        <p class="specialty">Medicina Interna</p>
                        <div class="actions">
                            <a href="perfil_sofia.html" class="action-btn">Ver perfil</a>
                            <a href="tel:+123456789" class="action-btn">Llamar</a>
                            <div class="teleconsulta">
                                <input type="checkbox" id="teleconsulta1">
                                <label for="teleconsulta1">Teleconsulta</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medico">
                    <img src="../static/imagenes/doctora1.avif" alt="Dra. Maria Emilia Andrade Lopez, Neonatología">
                    <div class="info">
                        <h3>Ana Cristina Perez Koller</h3>
                        <p class="specialty">Neonatología</p>
                        <div class="actions">
                            <a href="perfil_maria.html" class="action-btn">Ver perfil</a>
                            <a href="tel:+123456789" class="action-btn">Llamar</a>
                            <div class="teleconsulta">
                                <input type="checkbox" id="teleconsulta2" disabled>
                                <label for="teleconsulta2">Teleconsulta</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medico">
                    <img src="../static/imagenes/doctora1.avif"
                        alt="Dr. Marco Antonio Paredes Nieto, Neurología Pediátrica">
                    <div class="info">
                        <h3>Marco Antonio Paredes Nieto</h3>
                        <p class="specialty">Neurología Pediátrica</p>
                        <div class="actions">
                            <a href="perfil_marco.html" class="action-btn">Ver perfil</a>
                            <a href="tel:+123456789" class="action-btn">Llamar</a>
                            <div class="teleconsulta">
                                <input type="checkbox" id="teleconsulta3">
                                <label for="teleconsulta3">Teleconsulta</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medico">
                    <img src="../static/imagenes/doctora1.avif" alt="Dr. Juan Pérez, Oftalmólogo">
                    <div class="info">
                        <h3>Anthony Stephen Fauci</h3>
                        <p class="specialty">Oftalmólogo</p>
                        <div class="actions">
                            <a href="perfil_juan.html" class="action-btn">Ver perfil</a>
                            <a href="tel:+123456789" class="action-btn">Llamar</a>
                            <div class="teleconsulta">
                                <input type="checkbox" id="teleconsulta7">
                                <label for="teleconsulta7">Teleconsulta</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-2" href="equipo.html">
                << MAS>>
            </a>
        </div>

        <div class="servicios-group">
            <p>Conoce nuestros</p>
            <h3>Servicios Destacados</h3>
            <div class="servicio">
                <img src="imagenes/emergency.avif" alt="Servicio de atención médica 24/7">
                <h3>Atención 24/7</h3>
                <p>Siempre disponibles para tu salud.</p>
            </div>
            <div class="servicio">
                <img src="imagenes/tecnologia.jpg" alt="Tecnología avanzada en atención médica">
                <h3>Tecnología Avanzada</h3>
                <p>Equipos de última generación.</p>
            </div>
            <div class="servicio">
                <img src="imagenes/especialistas.jpg" alt="Equipo de especialistas médicos">
                <h3>Especialistas</h3>
                <p>Profesionales altamente calificados.</p>
            </div>
        </div>

        <div class="instalaciones">
            <p>Nuestras</p>
            <h3>Instalaciones</h3>
            <img src="imagenes/instalacion1.jpg" alt="Instalación médica 1 de Novahealth">
            <img src="imagenes/instalacion2.jpg" alt="Instalación médica 2 de Novahealth">
            <img src="imagenes/instalacion3.jpg" alt="Instalación médica 3 de Novahealth">
            <img src="imagenes/instalacion4.webp" alt="Instalación médica 4 de Novahealth">
            <img src="imagenes/instalacion5.webp" alt="Instalación médica 5 de Novahealth">
        </div>

        <div id="convenios">
            <h3>Partners</h3>
            <img src="imagenes/convenio1.png" alt="Convenio con partner de Novahealth">
        </div>
    </main>

    <section class="testimonios">
        <h2>TESTIMONIOS</h2>
        <div class="testimonial">
            <p>"Excelente atención, muy profesionales."</p>
            <span>- Ana G.</span>
        </div>
        <div class="testimonial">
            <p>"El servicio fue excepcional y el personal muy amable."</p>
            <span>- David P.</span>
        </div>
        <div class="testimonial">
            <p>"Recomiendo esta clínica a todos mis amigos."</p>
            <span>- Rafael V.</span>
        </div>
        <div class="testimonial">
            <p>"La atención fue rápida y efectiva."</p>
            <span>- Daniela B.</span>
        </div>
        <div class="testimonial">
            <p>"Un lugar confiable para cuidar de mi salud."</p>
            <span>- Anthony O.</span>
        </div>
    </section>

    <footer>
        <div class="footer-content container">
            <p>©2025. Todos los derechos reservados.</p>
            <div class="footer-links">
                <a href="contacto.html">Contacto</a>
                <a href="terminos.html">Términos de Servicio</a>
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
            </div>
        </div>
    </footer>
</body>

</html>