<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios | Novahealth</title>
    <link rel="stylesheet" href="../static/css/servicios.css">
</head>
<body>
    <header class="header">
        <a href="index.html" class="logo">Novahealth</a>
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/equipo">Nuestros Médicos</a></li>
                <li class="dropdown">
                    <a href="/servicios" class="dpservicios-toggle">Servicios</a>
                    <ul class="dropdown-menu">
                        <li><a href="emergencias.html">Emergencias</a></li>
                        <li><a href="farmacia.html">Farmacia</a></li>
                        <li><a href="banco_sangre.html">Banco de sangre</a></li>
                        <li><a href="novalaser.html">Novalaser</a></li>
                        <li><a href="convenios.html">Convenios</a></li>
                    </ul>
                </li>
                <li><a href="/contacto">Contacto</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/citas">Agenda tu cita</a></li>
                <li class="dropdown">
                    <a href="#">Hola, {{ current_user.nombre }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Cerrar sesión</a></li>
                    </ul>
                </li>

                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

</body>
</html>